/* CSS Document */
/* navbar-left {
	padding-left: 8px;
}
#14667D     */
.clr {
	background-color: #387CBD;
}
/* @media (min-width: 768px) */
#logo-nav {
	padding: 8px 15px;
}
.border-bottom {
	border-bottom: 2px solid #000;
}
.navbar {
	margin-bottom: 0px;
}
.row > .col-md-4 > img {
	padding: 6px;
}
.icon-style > a {
	padding: 15px 5px;
	color: #fff;
}
.icon-style > a:hover {
	color: #333;
	text-decoration: none;
}
/* .icon-row > .col-md-4 > a {
	padding-left: 6px;
}
*/
span.fa {
	position: absolute;
	top: 50%;
}
/* текст для фактов в виде асайда */
.img-custom-asd {
	display: block;
	padding: 5px 8px;
	float: left;
	border-radius: 15px;
}
.text-custom-asd {
	overflow: hidden;
	height: 70px;
	vertical-align: middle;
	display: table-cell;
}
a:hover {
	text-decoration: none;
}

#facts-bg { background-color: #000; background-image: url(background/mr-robot-high2-2.jpg);
}
#foto-bg { background-color:#809692; background-image: url(background/mrr3.jpg);
}

.custom-bg {
	background-position: top center;
	background-attachment: scroll;
  background-size: 1800px auto;  
	background-repeat: no-repeat;
	/*padding-top: 556px;     */
   
}

.hh {height:556px; position:relative; padding:0; width:100%;}

div > a {
	padding: 10px 0 20px 0;
}
.absl {
	bottom: 0;
	position: absolute;
}
.footer {
	bottom: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.content {
	background-color: #fff;
	padding-top: 8px;
	padding-bottom: 25px;
  
}



.banner img {
	transition: all .3s ease 0s;
	height: auto;
	width: 100%;
  margin: 0 0 5px 0;
	position: relative;
}
.banner a {
	transition: none;
}
.banner img:hover {
	opacity: 0.65;
	transform: scaleX(1.015) scaleY(0.97);
  
}

.logo-ch { padding:2px 0px 8px 0; }


@media screen and (max-width:420px)   {
.custom-bg { background-size:550px auto; }  }

@media screen and (max-width:620px) and (min-width:420px) {
.custom-bg { background-size:700px auto;}  }

@media screen and (max-width:720px) and (min-width:620px)   {
.custom-bg { background-size:1000px auto;}     }

@media screen and (max-width:984px)  and (min-width:720px)    {
.custom-bg { background-size:1200px auto;}    }

@media screen and (max-width:1300px) and (min-width:984px)    {
.custom-bg { background-size:1500px auto;}    }  

@media screen and (min-width:1300px) {.hh { height:630px;}}
@media screen and (max-width:984px) and (min-width:720px) { .hh { height:444px;}}   

@media screen and (max-width:1300px) and (min-width:984px) { .hh {height:556px;}} 
@media screen and (max-width:720px) and (min-width:620px) { .hh {height:370px;}}
@media screen and (max-width:620px) and (min-width:420px) {.hh {height:259px;}}
@media screen and (max-width:420px)   {.hh{height:203px;}}

.pages { text-align:center;
}
.image-pages {margin:2px 0;}  
.image-pages img {padding:2px; border: 4px solid #8D8F8D; border-radius:2px; }
